/* Inserta tu código aqui */
h2 {
	font-family: 'Helvetica';
	text-decoration: underline;   
}


.container, .foto{
	position: relative;
   	display: inline-block;
   	margin-right: 20px;
   	margin-left: 20px;
   	margin-top: 20px;
}

span{
	color: white;
	font-size: 14px;
	position: absolute;
	top:190px;
	right: 0px;
}
img{
	
}





