/* Inserta tu código aqui */
.title h2 {
	font-family: 'Helvetica';
	font-size: 25px;   
	text-decoration: underline;
}

.container, .foto{
	position: relative;
   	display: inline-block;
   	margin-right: 20px;
   	margin-left: 20px;
   	margin-top: 20px;   	
}

.foto {
	background-color: black;
}

span{
	color: white;
	font-size: 14px;
	position: absolute;
	top:190px;
	right: 5px;
}

img:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
}







